/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');

/* Variables globales */
:root {
  --color-bg: #EDEDE9;
  --color-dark: #9F9890;
  --color-accent: #D5BDAF;
  --color-soft: #E3D5CA;
  --color-light: #F5EBE0;
}

/* Estilos globales */
body {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Header principal */
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg);
  padding: 1.5rem 1.5rem;
  border-bottom: 1px solid var(--color-dark);

  --header-height: 7.5rem;
}

.header-left {
  position: relative;
}

.header-left:hover .logo-circle {
  background-color: var(--color-accent);
}

.logo {
  height: 2.5rem;
  position: relative;
  z-index: 1;
}

.logo-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--color-dark);
  border-radius: 50%;
  z-index: 0;
}

.header-center h1 {
  margin: 0;
  font-size: 1.8rem;
  color: var(--color-dark);
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-right .icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: 1rem;
}

.header-right .icon-button:hover {
  color: var(--color-accent);
}

.header-right .icon {
  width: 30px;
  height: 30px;
  fill: var(--color-dark);
  transition: fill 0.2s, transform 0.2s;
}

/* Sub-header (jugador + ID sala) */
.sub-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  background-color: var(--color-bg);
  font-size: 1rem;
  border-bottom: 1px solid var(--color-dark);
}

.copy-code {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
}

.copy-icon-wrapper svg {
  width: 1rem;
  height: 1rem;
}

/* Pantalla inicial (inputs + botones) */
.initial-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.initial-screen input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid var(--color-dark);
  border-radius: 4px;
  font-size: 1rem;
  width: 250px;
  background-color: var(--color-light);
}

.initial-screen button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-dark);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  color: var(--color-bg);
  transition: background-color 0.2s;
}

.initial-screen button:hover {
  background-color: var(--color-accent);
}

/* Contenedor principal de crucigrama + tabs */
.main-content {
  display: flex;
  flex: 1;
  padding: 1rem;
  gap: 1rem;
}

/* Crucigrama */
.crossword-container {
  flex: 0;
  background-color: var(--color-dark);
  border-radius: 8px;
  padding: 1.5rem;
  margin: 5%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* Calcular altura dinámica */
  height: calc((100vh - var(--header-height)) * 0.9);
  width: calc((100vh - var(--header-height)) * 0.9);

  /* Asegurar que siempre respete las dimensiones */
  min-height: calc((100vh - var(--header-height)) * 0.9);
  min-width: calc((100vh - var(--header-height)) * 0.9);
  max-height: calc((100vh - var(--header-height)) * 0.9);
  max-width: calc((100vh - var(--header-height)) * 0.9);
}

.crossword-container .help-text {
  margin-top: auto;
  font-size: 0.8rem;
  color: var(--color-light);
  text-align: left;
  cursor: default;
}

.crossword-container button {
  background-color: var(--color-light);
}

.crossword-grid {
  display: grid;
  gap: 5px;
  margin: auto;
}

/* Estilo para el mensaje de error */
.error-message {
  color: red;
  margin-top: 0.5rem;
}

/* Casillas del crucigrama */
.casilla {
  width: 30px;
  height: 30px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s;
  position: relative;
}

/* Subclases para animaciones */
.casilla.correcto {
  animation: ola 0.5s ease-in-out;
  animation-delay: var(--animation-delay);
  color: #28a745;
}

.casilla.error {
  animation: temblor 1s ease-in-out;
  color: #E53935 ;
}

/* Clases adicionales */

.casilla.seleccionada {
  background-color: var(--color-accent) !important;
  border: 3px solid var(--color-accent) !important;
  transform: scale(1.1);
}

.casilla.parte-de-palabra {
  background-color: var(--color-soft) !important;
}

.casilla.negra {
  background-color: var(--color-dark) !important;
  pointer-events: none;
}

.casilla.vacia {
  background-color: var(--color-bg) !important;
}

/* Input dentro de las casillas */
.casilla-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  caret-color: transparent;
}

/* Lista de definiciones */
.definition-list {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
}

.definition-list li {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

/* Botones */
.buttons-container {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.buttons-container button {
  position: relative;
  padding: 0.5rem 1rem;
  background-color: var(--color-soft);
  color: var(--color-dark);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  font-weight: bold;
}

.buttons-container button:hover {
  background-color: var(--color-accent);
  transform: scale(1.05);
}

.buttons-container button:disabled {
  background-color: var(--color-accent);
  cursor: not-allowed;
}

/* Botón de generar crucigrama */
.generate-button {
  position: relative;
  padding: 0.5rem 1rem;
  background-color: var(--color-dark);
  color: var(--color-bg);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s, transform 0.2s;
}

.generate-button:hover {
  background-color: var(--color-accent);
}

/* Formulario configuración */
.buttons-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.settings-icon {
  width: 15px;
  height: 15px;
  fill: var(--color-light);
  transition: fill 0.2s, transform 0.3s ease-in-out;
}

.settings-icon-container {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  cursor: pointer;
}

.settings-icon-container:hover .settings-icon {
  transform: rotate(180deg);
}

.config-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  position: absolute;
  bottom: 100%;
  background-color: var(--color-light);
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  height: auto;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.config-form label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--color-dark);
  text-align: left;
}

.config-form input[type="number"]::-webkit-inner-spin-button,
.config-form input[type="number"]::-webkit-outer-spin-button {
  appearance: auto;
}

.config-form input[type="number"] {
  width: 3rem;
  padding: 0.3rem;
  outline: none;
  border-radius: 4px;
  background-color: var(--color-accent);
  font-size: 1rem;
  color: var(--color-light);
  pointer-events: auto;
  caret-color: transparent;
}

.config-form input[type="checkbox"] {
  accent-color: var(--color-accent);
  margin-right: 0.5rem;
}

.config-form button {
  position: relative;
  cursor: pointer;
  background-color: var(--color-soft);
  color: var(--color-dark);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s, transform 0.2s;
}

/* Tabs */
.tabs-container {
  flex: 2;
  background-color: var(--color-dark);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  border-bottom: 1px solid var(--color-light);
}

.tab {
  flex: 1;
  padding: 0.5rem;
  background-color: var(--color-light);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.tab:hover {
  background-color: var(--color-soft);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.tab.active {
  background-color: var(--color-soft);
  font-weight: bold;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.tab-content {
  flex: 1;
  padding: 1rem;
  background-color: var(--color-light);
}

.tab-content ol {
  list-style-type: disc;
  color: var(--color-dark);
  font-size: 1rem;
}

.tab-content ol li {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

/* Animación de ola (correcto) */
@keyframes ola {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

/* Animación de temblor (error) */
@keyframes temblor {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Estilos de modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--color-dark);
  color: var(--color-bg);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  width: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.confirm-button {
  background-color: var(--color-light);
  color: var(--color-dark);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.cancel-button {
  background-color: var(--color-light);
  color: var(--color-dark);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.confirm-button:hover {
  background-color: var(--color-accent);
}

.cancel-button:hover {
  background-color: var(--color-accent);
}